/* =====================================
   KEGIATAN OSIS PAGE STYLE
===================================== */



/* HERO KHUSUS HALAMAN */

.page-hero{

    min-height:70vh;

}





/* SEARCH BOX */

.search-box{

    display:flex;

    justify-content:center;

    margin-bottom:40px;

}



.search-box input{


    width:70%;

    max-width:600px;


    padding:18px 25px;


    border-radius:50px;


    border:

    1px solid rgba(255,255,255,.2);



    background:

    rgba(255,255,255,.08);



    backdrop-filter:blur(15px);



    color:white;



    outline:none;



    font-size:16px;



    transition:.4s;



}



.search-box input:focus{


    box-shadow:

    0 0 30px #22d3ee55;



    border-color:#22d3ee;



}






/* FILTER BUTTON */

.filter{


    display:flex;


    justify-content:center;


    flex-wrap:wrap;


    gap:15px;


    margin-bottom:50px;


}



.filter-btn{


    padding:12px 30px;


    border-radius:50px;


    border:none;


    cursor:pointer;



    background:

    rgba(255,255,255,.08);



    color:white;



    border:

    1px solid rgba(255,255,255,.15);



    transition:.4s;



}



.filter-btn:hover,
.filter-btn.active{


    background:

    linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
    );



    box-shadow:

    0 0 25px #2563eb88;



}








/* GRID KEGIATAN */


.activity-grid{


    display:grid;


    grid-template-columns:

    repeat(3,1fr);


    gap:30px;


}






/* CARD */


.activity-card{


    overflow:hidden;


    border-radius:30px;


    background:

    rgba(255,255,255,.08);



    border:

    1px solid rgba(255,255,255,.15);



    transition:.5s;



}



.activity-card:hover{


    transform:

    translateY(-15px);



    box-shadow:

    0 20px 50px #0008;



}






.activity-card img{


    height:240px;


    object-fit:cover;



    transition:.5s;



}



.activity-card:hover img{


    transform:scale(1.1);



}





.activity-card div{


    padding:30px;



}



.activity-card span{


    color:#22d3ee;


    font-size:13px;


    font-weight:600;



}



.activity-card h3{


    margin:15px 0;


    font-size:24px;



}




.activity-card p{


    color:#d1d5db;


    line-height:1.7;



}






.activity-card button{


    margin-top:20px;


    padding:12px 30px;


    border:none;


    border-radius:30px;



    cursor:pointer;



    color:white;



    background:


    linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
    );



    transition:.3s;



}



.activity-card button:hover{


    transform:scale(1.05);



}






/* RESPONSIVE */


@media(max-width:1000px){


.activity-grid{


grid-template-columns:

repeat(2,1fr);



}


}





@media(max-width:650px){



.activity-grid{


grid-template-columns:

1fr;



}



.search-box input{


width:100%;


}



.filter-btn{


padding:10px 20px;


}



}
