/* =============================
   KETUA OSIS STYLE
============================= */



.leader-profile{


display:grid;


grid-template-columns:

350px 1fr;


gap:50px;


align-items:center;


}




.leader-photo img{


width:350px;


height:450px;


object-fit:cover;


border-radius:40px;


border:

3px solid #22d3ee;


box-shadow:

0 0 50px #22d3ee66;


}




.leader-info span{


color:#22d3ee;


letter-spacing:3px;


font-size:14px;


}



.leader-info h2{


font-size:45px;


margin:20px 0;


}




.leader-info p{


line-height:2;


color:#ddd;


}





.leader-social i{


margin:15px;


font-size:30px;


color:#22d3ee;


transition:.3s;


}



.leader-social i:hover{


transform:translateY(-10px);


}




.speech{


padding:50px;


text-align:center;


background:

rgba(255,255,255,.08);


border-radius:40px;


font-size:22px;


line-height:2;


}




.biodata{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}




.biodata div{


padding:40px;


text-align:center;


background:

rgba(255,255,255,.08);


border-radius:30px;


}



.biodata i{


font-size:40px;


color:#22d3ee;


}




.program-leader{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}



.program-leader div{


padding:40px;


text-align:center;


background:

linear-gradient(
135deg,
rgba(37,99,235,.2),
rgba(124,58,237,.2)
);



border-radius:30px;


transition:.4s;


}




.program-leader div:hover{


transform:translateY(-15px);


}





.program-leader i{


font-size:45px;


color:#22d3ee;


}





@media(max-width:900px){



.leader-profile{


grid-template-columns:1fr;


text-align:center;


}



.leader-photo img{


margin:auto;


}



.biodata,
.program-leader{


grid-template-columns:1fr;


}



}
