/* ===========================
   TENTANG OSIS STYLE
=========================== */



.about-box{


padding:50px;


max-width:900px;


margin:auto;


background:

rgba(255,255,255,.08);


border-radius:35px;


border:

1px solid rgba(255,255,255,.15);


line-height:2;


text-align:center;


}






.goal-grid{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}




.goal-card{


padding:40px;


text-align:center;


background:

rgba(255,255,255,.08);


border-radius:30px;


transition:.4s;


}





.goal-card:hover{


transform:translateY(-15px);


box-shadow:

0 0 40px #2563eb66;


}





.goal-card i{


font-size:45px;


color:#22d3ee;


margin-bottom:20px;


}





.vision{


padding:60px;


text-align:center;


background:

linear-gradient(
135deg,
rgba(37,99,235,.3),
rgba(124,58,237,.3)
);


border-radius:40px;


}



.vision i{


font-size:60px;


color:#22d3ee;


}



.vision h3{


margin-top:30px;


font-size:30px;


}





.mission{


max-width:800px;


margin:auto;


display:flex;


flex-direction:column;


gap:20px;


}



.mission div{


padding:20px;


background:

rgba(255,255,255,.08);


border-radius:20px;


}



.mission i{


color:#22d3ee;


margin-right:15px;


}




.structure{


display:flex;


flex-direction:column;


align-items:center;


gap:20px;


}



.structure div{


padding:20px 60px;


background:

rgba(255,255,255,.08);


border-radius:50px;


border:

1px solid rgba(255,255,255,.15);


}



.structure span{


font-size:30px;


color:#22d3ee;


}





@media(max-width:900px){


.goal-grid{


grid-template-columns:1fr;


}



.vision h3{


font-size:20px;


}


}
