/* ===============================
   KEBIJAKAN OSIS STYLE
================================ */



.policy-grid{


display:grid;

grid-template-columns:

repeat(3,1fr);


gap:30px;


}




.policy-card{


padding:40px;


background:

rgba(255,255,255,.08);


border-radius:30px;


border:

1px solid rgba(255,255,255,.15);


text-align:center;


transition:.4s;


}




.policy-card:hover{


transform:translateY(-15px);


box-shadow:

0 0 40px #2563eb66;


}




.policy-card i{


font-size:45px;


color:#22d3ee;


margin-bottom:20px;


}





.two-column{


display:grid;


grid-template-columns:

repeat(2,1fr);


gap:40px;


}




.policy-box{


padding:40px;


background:

rgba(255,255,255,.08);


border-radius:30px;


border:

1px solid rgba(255,255,255,.15);


}





.policy-box ul{


margin-top:20px;


line-height:2.5;


}




.ethic{


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}





.ethic div{


padding:35px;


background:

linear-gradient(
145deg,
rgba(37,99,235,.2),
rgba(124,58,237,.2)
);


border-radius:30px;


}





.ethic span{


font-size:40px;


font-weight:800;


color:#22d3ee;


}





@media(max-width:900px){


.policy-grid,
.two-column,
.ethic{


grid-template-columns:1fr;


}


}
